* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;	
}
.header__nav {
	max-width: 620px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
.header__nav__list {
	list-style: none;
	display: flex;
	justify-content: center;
}
.header__nav__list>li:not(:first-child) {
	margin-left: 72px;
}
.header__nav__list a {
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
	font-size: 18px;
    line-height: 18px;
	text-decoration: none;
	color: #FF0000;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}
.header__background__image {
	width: 1280px;
	height: 789px;
	display: block;
	margin: 0 auto;
}
.content {
	padding-top: 48px;
	padding-bottom: 82px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1145px;
	text-align: center;
}
.content__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 38px;
}
.content__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2.4px;
	color: #373737;
}
.content__button {
	width: 191px;
	height: 51px;
	background: #FF0000;
	border-radius: 4px;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 66px;
}
.footer {
	margin: 0 auto;
	max-width: 1145px;
}	
.footer__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
	padding-bottom: 29px;
	padding-right: 105px;
	text-align: end;
}
